@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #eaeaea;
}

.screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: #f2f2f2;
  max-width: 500px;
  margin: 0 auto;
}

.top {
  background: #3f6fe5;
  color: white;
  text-align: center;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  padding: 40px 20px 50px;
}

.top h1 {
  font-size: 30px;
}

.top h2 {
  font-size: 20px;
}

.bottom {
  background: #3f6fe5;
  color: white;
  text-align: center;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding: 40px 20px 50px;
}

.categories {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  padding: 20px;
  align-items: center;
}

.categories button {
  padding: 0;               
  border: none;
  border-radius: 16px;
  overflow: hidden;          
  background: #f2f2f2;
  aspect-ratio: 1 / 1;     
  cursor: pointer;
}

.categories button img {
  width: 100%;
  height: 100%;
  object-fit: cover;        
  display: block;
}

.categories button img:hover {
  transform: scale(0.98);
}

.categories button img:active {
  transform: scale(0.98);
}