@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

@media print {
  body * {
    visibility: hidden;
  }

  .header, .header * {
    visibility: visible;
  }

  .header {
    position: absolute;
    left: 0;
    top: 0;
    width: 80mm;
    font-size: 14px;
  }
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #eaeaea;
}

.screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: #f2f2f2;
  max-width: 500px;
  margin: 0 auto;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.header {
  text-align: center;
  border: 3px solid #000;
  padding: 40px 20px 50px;
  width: 50%;
}